**Fifa World Cup 2018 Players Exploratory Data Analysis with PySpark**

# Imports

In [84]:
import pyspark
from pyspark.sql           import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types     import *
from pyspark.sql           import SQLContext
from pyspark.sql.window    import Window # Importando window function

import seaborn as sns
import pandas  as pd

from IPython.core.display    import HTML
from IPython.display         import Image

## Helper Functions/Variables

In [3]:
# function to show dataframe dimensions
def sparkShape(dataFrame):
    return (dataFrame.count(), len(dataFrame.columns))

# functions to change jupyter html for better reading and plots
def jupyter_settings():
    %matplotlib inline
    %pylab inline
    
    plt.style.use( 'bmh' )
    plt.rcParams['figure.figsize'] = [25, 12]
    plt.rcParams['font.size'] = 24
    
    display( HTML( '<style>.container { width:100% !important; }</style>') )
    pd.options.display.max_columns = None
    pd.options.display.max_rows = None
    pd.set_option( 'display.expand_frame_repr', False )
    
    sns.set()

In [4]:
# Creating/Initiating Spark Session
# SpakSession: it's useed to work with Spark
spSession = (SparkSession.builder.master('local')
                                .appName('fifa_analytics_01')
                                .getOrCreate()
            )

In [5]:
# home path
home_path = '/home/marxcerqueira/repos/fifawc-2018-players-EDA'

In [6]:
spSession

In [8]:
jupyter_settings()

%pylab is deprecated, use %matplotlib inline and import the required libraries.
Populating the interactive namespace from numpy and matplotlib

# Loading Data

**Context**
The 2018 World Cup is an international football tournament.

**Data**
Confirmed list of FIFA 2018 World Cup players by country

**Acknowledgements**
Source: https://img.fifa.com/image/upload/hzfqyndmnqazczvc5xdb.pdf

Banner Image: https://unsplash.com/photos/ChI4eUGTpeY

Inspiration
Who will the best team be in the 2018 World Cup?

**Notes:**
- With Spark 2.0 a new class org.apache.spark.sql.SparkSession has been introduced which is a combined class for all different contexts we used to have prior to 2.0 release hence SparkSession will be used in replace with SQLContext, HiveContext.

In [9]:
#loading trainig data and creating a RDD in memory with Spark
df = spSession.read.csv(home_path + '/data/wc2018-players.csv', header=True, inferSchema=True)

In [9]:
#creating Spark SQL Context to work with SQL
sqlContext = SQLContext(sc)
teste = sqlContext.read.csv(home_path + '/data/wc2018-players.csv', header=True, inferSchema=True)

In [10]:
type(teste)

pyspark.sql.dataframe.DataFrame

In [10]:
#check df type
type(df)

pyspark.sql.dataframe.DataFrame

In [11]:
# display 5 firsts rows of the dataframe
df.show(5)

+---------+---+----+------------------+----------+----------+--------------------+------+------+
|     Team|  #|Pos.| FIFA Popular Name|Birth Date|Shirt Name|                Club|Height|Weight|
+---------+---+----+------------------+----------+----------+--------------------+------+------+
|Argentina|  3|  DF|TAGLIAFICO Nicolas|31.08.1992|TAGLIAFICO|      AFC Ajax (NED)|   169|    65|
|Argentina| 22|  MF|    PAVON Cristian|21.01.1996|     PAVÓN|CA Boca Juniors (...|   169|    65|
|Argentina| 15|  MF|    LANZINI Manuel|15.02.1993|   LANZINI|West Ham United F...|   167|    66|
|Argentina| 18|  DF|    SALVIO Eduardo|13.07.1990|    SALVIO|    SL Benfica (POR)|   167|    69|
|Argentina| 10|  FW|      MESSI Lionel|24.06.1987|     MESSI|  FC Barcelona (ESP)|   170|    72|
+---------+---+----+------------------+----------+----------+--------------------+------+------+
only showing top 5 rows

In [13]:
teste.show(5)

+---------+---+----+------------------+----------+----------+--------------------+------+------+
|     Team|  #|Pos.| FIFA Popular Name|Birth Date|Shirt Name|                Club|Height|Weight|
+---------+---+----+------------------+----------+----------+--------------------+------+------+
|Argentina|  3|  DF|TAGLIAFICO Nicolas|31.08.1992|TAGLIAFICO|      AFC Ajax (NED)|   169|    65|
|Argentina| 22|  MF|    PAVON Cristian|21.01.1996|     PAVÓN|CA Boca Juniors (...|   169|    65|
|Argentina| 15|  MF|    LANZINI Manuel|15.02.1993|   LANZINI|West Ham United F...|   167|    66|
|Argentina| 18|  DF|    SALVIO Eduardo|13.07.1990|    SALVIO|    SL Benfica (POR)|   167|    69|
|Argentina| 10|  FW|      MESSI Lionel|24.06.1987|     MESSI|  FC Barcelona (ESP)|   170|    72|
+---------+---+----+------------------+----------+----------+--------------------+------+------+
only showing top 5 rows

# Data Description

## Rename Columns

In [12]:
# rename columns
df = df.withColumnRenamed('Team', 'team')\
.withColumnRenamed('#', 'jersey_number')\
.withColumnRenamed('Pos.', 'position')\
.withColumnRenamed('FIFA Popular Name', 'players_name')\
.withColumnRenamed('Birth Date', 'birth_date')\
.withColumnRenamed('Shirt Name', 'jersey_name')\
.withColumnRenamed('Club', 'club')\
.withColumnRenamed('Height', 'height')\
.withColumnRenamed('Weight', 'weight')

## Data Dimension

In [13]:
# dataframe dimensions
pyspark.sql.dataframe.DataFrame.shape = sparkShape
df.shape()

(736, 9)

In [14]:
sparkShape(df)

(736, 9)

## Data Types

In [15]:
# check columns types
df.printSchema()

root
 |-- team: string (nullable = true)
 |-- jersey_number: integer (nullable = true)
 |-- position: string (nullable = true)
 |-- players_name: string (nullable = true)
 |-- birth_date: string (nullable = true)
 |-- jersey_name: string (nullable = true)
 |-- club: string (nullable = true)
 |-- height: integer (nullable = true)
 |-- weight: integer (nullable = true)

In [16]:
# other way to check it
df.dtypes

[('team', 'string'),
 ('jersey_number', 'int'),
 ('position', 'string'),
 ('players_name', 'string'),
 ('birth_date', 'string'),
 ('jersey_name', 'string'),
 ('club', 'string'),
 ('height', 'int'),
 ('weight', 'int')]

## Check NA Values

In [17]:
#check na using pandas
df.toPandas().isna().sum()

team             0
jersey_number    0
position         0
players_name     0
birth_date       0
jersey_name      0
club             0
height           0
weight           0
dtype: int64

In [18]:
#using pyspark filter
for column in df.columns:
    print(column, df.filter(df[column].isNull()).count())

team 0
jersey_number 0
position 0
players_name 0
birth_date 0
jersey_name 0
club 0
height 0
weight 0

## Fillout NAs

## Change Dtypes

In [31]:
# replace . to - in birth_date column (str)
df1 = df.withColumn('birth_date', translate('birth_date', '.', '-'))

In [32]:
# change birth date dtype to datetime
df1 = df1.withColumn('birth_date', to_date('birth_date', 'dd-MM-yyyy'))

In [29]:
# checking dtypes after conversion
df1.dtypes

[('team', 'string'),
 ('jersey_number', 'int'),
 ('position', 'string'),
 ('players_name', 'string'),
 ('birth_date', 'date'),
 ('jersey_name', 'string'),
 ('club', 'string'),
 ('height', 'int'),
 ('weight', 'int')]

## Descriptive Statistics

In [34]:
# numeric features
num_attributes_list = [item[0] for item in df.dtypes if item[1].startswith('int')]
df.describe(num_attributes_list).show()

+-------+-----------------+-----------------+-----------------+
|summary|    jersey_number|           height|           weight|
+-------+-----------------+-----------------+-----------------+
|  count|              736|              736|              736|
|   mean|             12.0|182.4076086956522|77.18885869565217|
| stddev|6.637760461599851|6.930924233929302|7.233778346883639|
|    min|                1|              165|               59|
|    max|               23|              201|               99|
+-------+-----------------+-----------------+-----------------+

In [35]:
# other way
df.select(num_attributes_list).describe().show()

+-------+-----------------+-----------------+-----------------+
|summary|    jersey_number|           height|           weight|
+-------+-----------------+-----------------+-----------------+
|  count|              736|              736|              736|
|   mean|             12.0|182.4076086956522|77.18885869565217|
| stddev|6.637760461599851|6.930924233929302|7.233778346883639|
|    min|                1|              165|               59|
|    max|               23|              201|               99|
+-------+-----------------+-----------------+-----------------+

In [36]:
# categorical features
cat_attributes_list = [item[0] for item in df.dtypes if item[1].startswith('str')]
df.describe(cat_attributes_list).show()

+-------+---------+--------+------------+----------+-----------+--------------------+
|summary|     team|position|players_name|birth_date|jersey_name|                club|
+-------+---------+--------+------------+----------+-----------+--------------------+
|  count|      736|     736|         736|       736|        736|                 736|
|   mean|     null|    null|        null|      null|       null|                null|
| stddev|     null|    null|        null|      null|       null|                null|
|    min|Argentina|      DF|ABDALLA SAID|01.01.1984|  A. ASHRAF|    1. FC Köln (GER)|
|    max|  Uruguay|      MF|ZUBER Steven|31.10.1997|   ŽIVKOVIĆ|Étoile du Sahel (...|
+-------+---------+--------+------------+----------+-----------+--------------------+

# Data Filtering

In [37]:
#list columns
df1.columns

['team',
 'jersey_number',
 'position',
 'players_name',
 'birth_date',
 'jersey_name',
 'club',
 'height',
 'weight']

## ways of selecting specific columns for analysis

In [39]:
# using select, and we can organize by order of the column
df1.select('players_name', 'team', 'club').show(5)

+------------------+---------+--------------------+
|      players_name|     team|                club|
+------------------+---------+--------------------+
|TAGLIAFICO Nicolas|Argentina|      AFC Ajax (NED)|
|    PAVON Cristian|Argentina|CA Boca Juniors (...|
|    LANZINI Manuel|Argentina|West Ham United F...|
|    SALVIO Eduardo|Argentina|    SL Benfica (POR)|
|      MESSI Lionel|Argentina|  FC Barcelona (ESP)|
+------------------+---------+--------------------+
only showing top 5 rows

In [38]:
df1.select(col('players_name'), col('team')).show(5)

+------------------+---------+
|      players_name|     team|
+------------------+---------+
|TAGLIAFICO Nicolas|Argentina|
|    PAVON Cristian|Argentina|
|    LANZINI Manuel|Argentina|
|    SALVIO Eduardo|Argentina|
|      MESSI Lionel|Argentina|
+------------------+---------+
only showing top 5 rows

In [40]:
df1.select(df['players_name'], df['team']).show(5)

+------------------+---------+
|      players_name|     team|
+------------------+---------+
|TAGLIAFICO Nicolas|Argentina|
|    PAVON Cristian|Argentina|
|    LANZINI Manuel|Argentina|
|    SALVIO Eduardo|Argentina|
|      MESSI Lionel|Argentina|
+------------------+---------+
only showing top 5 rows

In [41]:
# calling a column with alias
df1.select(df['team'].alias('time')).show(5)

+---------+
|     time|
+---------+
|Argentina|
|Argentina|
|Argentina|
|Argentina|
|Argentina|
+---------+
only showing top 5 rows

In [42]:
#checkin country names in the dataset
df1.select('team').distinct().orderBy('team').show(25)

+--------------+
|          team|
+--------------+
|     Argentina|
|     Australia|
|       Belgium|
|        Brazil|
|      Colombia|
|    Costa Rica|
|       Croatia|
|       Denmark|
|         Egypt|
|       England|
|        France|
|       Germany|
|       IR Iran|
|       Iceland|
|         Japan|
|Korea Republic|
|        Mexico|
|       Morocco|
|       Nigeria|
|        Panama|
|          Peru|
|        Poland|
|      Portugal|
|        Russia|
|  Saudi Arabia|
+--------------+
only showing top 25 rows

## Filtering dataframe

In [43]:
# get only brazilian team
df1.filter('team = "Brazil"').show(10)

+------+-------------+--------+-----------------+----------+-----------+--------------------+------+------+
|  team|jersey_number|position|     players_name|birth_date|jersey_name|                club|height|weight|
+------+-------------+--------+-----------------+----------+-----------+--------------------+------+------+
|Brazil|           18|      MF|             FRED|1993-03-05|       FRED|FC Shakhtar Donet...|   169|    64|
|Brazil|           21|      FW|           TAISON|1988-01-13|     TAISON|FC Shakhtar Donet...|   172|    64|
|Brazil|           17|      MF|      FERNANDINHO|1985-05-04|FERNANDINHO|Manchester City F...|   179|    67|
|Brazil|           22|      DF|           FAGNER|1989-06-11|     FAGNER|SC Corinthians (BRA)|   168|    67|
|Brazil|           10|      FW|           NEYMAR|1992-02-05|  NEYMAR JR|Paris Saint-Germa...|   175|    68|
|Brazil|           11|      MF|PHILIPPE COUTINHO|1992-06-12|P. COUTINHO|  FC Barcelona (ESP)|   172|    68|
|Brazil|            7|      FW|    DOUGLAS COSTA|1990-09-14|   D. COSTA|   Juventus FC (ITA)|   182|    70|
|Brazil|            6|      DF|      FILIPE LUIS|1985-08-09|FILIPE LUIS|Atletico Madrid (...|   182|    73|
|Brazil|            9|      FW|    GABRIEL JESUS|1997-04-03|   G. JESUS|Manchester City F...|   175|    73|
|Brazil|           13|      DF|       MARQUINHOS|1994-05-14| MARQUINHOS|Paris Saint-Germa...|   183|    75|
+------+-------------+--------+-----------------+----------+-----------+--------------------+------+------+
only showing top 10 rows

In [44]:
# number of brazilian players
df1.filter('team = "Brazil"').count()

23

In [45]:
# filtering with 2 conditions
# get argentinians taller than 180 (& condition)
df1.filter((df1['team']=='Argentina') & (df1['height'] > 180)).orderBy('height', ascending = False).show()

+---------+-------------+--------+------------------+----------+-----------+--------------------+------+------+
|     team|jersey_number|position|      players_name|birth_date|jersey_name|                club|height|weight|
+---------+-------------+--------+------------------+----------+-----------+--------------------+------+------+
|Argentina|            6|      DF|    FAZIO Federico|1987-03-17|      FAZIO|       AS Roma (ITA)|   199|    85|
|Argentina|            1|      GK|     GUZMAN Nahuel|1986-02-10|     GUZMÁN|   Tigres UANL (MEX)|   192|    90|
|Argentina|           12|      GK|     ARMANI Franco|1986-10-16|     ARMANI|CA River Plate (ARG)|   189|    85|
|Argentina|           16|      DF|       ROJO Marcos|1990-03-20|       ROJO|Manchester United...|   189|    82|
|Argentina|           23|      GK|CABALLERO Wilfredo|1981-09-28|  CABALLERO|    Chelsea FC (ENG)|   186|    80|
|Argentina|            9|      FW|   HIGUAIN Gonzalo|1987-12-10|    HIGUAÍN|   Juventus FC (ITA)|   184|    75|
|Argentina|            4|      DF|  ANSALDI Cristian|1986-09-20|    ANSALDI|     Torino FC (ITA)|   181|    73|
|Argentina|            2|      DF|   MERCADO Gabriel|1987-03-18|    MERCADO|    Sevilla FC (ESP)|   181|    81|
|Argentina|           17|      DF|  OTAMENDI Nicolas|1988-02-12|   OTAMENDI|Manchester City F...|   181|    81|
+---------+-------------+--------+------------------+----------+-----------+--------------------+------+------+

In [46]:
# other way of filtering with 2 conditions
df1.filter(df1['team'] == 'Brazil').filter(df1['jersey_number'] < 10).show()

+------+-------------+--------+--------------+----------+-----------+--------------------+------+------+
|  team|jersey_number|position|  players_name|birth_date|jersey_name|                club|height|weight|
+------+-------------+--------+--------------+----------+-----------+--------------------+------+------+
|Brazil|            7|      FW| DOUGLAS COSTA|1990-09-14|   D. COSTA|   Juventus FC (ITA)|   182|    70|
|Brazil|            6|      DF|   FILIPE LUIS|1985-08-09|FILIPE LUIS|Atletico Madrid (...|   182|    73|
|Brazil|            9|      FW| GABRIEL JESUS|1997-04-03|   G. JESUS|Manchester City F...|   175|    73|
|Brazil|            3|      DF|       MIRANDA|1984-09-07|    MIRANDA|FC Internazionale...|   186|    78|
|Brazil|            2|      DF|  THIAGO SILVA|1984-09-22|   T. SILVA|Paris Saint-Germa...|   183|    79|
|Brazil|            4|      DF| PEDRO GEROMEL|1985-09-21|    GEROMEL|   Grêmio FBPA (BRA)|   190|    84|
|Brazil|            5|      MF|      CASEMIRO|1992-02-23|   CASEMIRO|Real Madrid CF (ESP)|   185|    84|
|Brazil|            8|      MF|RENATO AUGUSTO|1988-02-08| R. AUGUSTO| Beijing Guoan (CHN)|   186|    86|
|Brazil|            1|      GK|       ALISSON|1992-10-02|  A. BECKER|       AS Roma (ITA)|   193|    91|
+------+-------------+--------+--------------+----------+-----------+--------------------+------+------+

In [47]:
# using OR condition
df1.filter((df1['players_name'] == 'MESSI Lionel') | (df1['players_name'] == 'SALVIO Eduardo') | (df1['height'] >= 199)).show()

+---------+-------------+--------+------------------+----------+-----------+--------------------+------+------+
|     team|jersey_number|position|      players_name|birth_date|jersey_name|                club|height|weight|
+---------+-------------+--------+------------------+----------+-----------+--------------------+------+------+
|Argentina|           18|      DF|    SALVIO Eduardo|1990-07-13|     SALVIO|    SL Benfica (POR)|   167|    69|
|Argentina|           10|      FW|      MESSI Lionel|1987-06-24|      MESSI|  FC Barcelona (ESP)|   170|    72|
|Argentina|            6|      DF|    FAZIO Federico|1987-03-17|      FAZIO|       AS Roma (ITA)|   199|    85|
|  Belgium|            1|      GK|  COURTOIS Thibaut|1992-05-11|   COURTOIS|    Chelsea FC (ENG)|   199|    91|
|  Croatia|           12|      GK|     KALINIC Lovre|1990-04-03| L. KALINIĆ|      KAA Gent (BEL)|   201|    96|
|  Denmark|            3|      DF|VESTERGAARD Jannik|1992-08-03|VESTERGAARD|VfL Borussia Mönc...|   200|    98|
+---------+-------------+--------+------------------+----------+-----------+--------------------+------+------+

In [48]:
# using & e |
# getting all defensive brazilian players or belgium player with 199 of height
df1.filter((df1['position'] == 'DF') & (df1['team']== 'Brazil') | (df1['height'] == 199) & (df1['team'] == 'Belgium')).show()

+-------+-------------+--------+----------------+----------+-----------+--------------------+------+------+
|   team|jersey_number|position|    players_name|birth_date|jersey_name|                club|height|weight|
+-------+-------------+--------+----------------+----------+-----------+--------------------+------+------+
|Belgium|            1|      GK|COURTOIS Thibaut|1992-05-11|   COURTOIS|    Chelsea FC (ENG)|   199|    91|
| Brazil|           22|      DF|          FAGNER|1989-06-11|     FAGNER|SC Corinthians (BRA)|   168|    67|
| Brazil|            6|      DF|     FILIPE LUIS|1985-08-09|FILIPE LUIS|Atletico Madrid (...|   182|    73|
| Brazil|           13|      DF|      MARQUINHOS|1994-05-14| MARQUINHOS|Paris Saint-Germa...|   183|    75|
| Brazil|            3|      DF|         MIRANDA|1984-09-07|    MIRANDA|FC Internazionale...|   186|    78|
| Brazil|           14|      DF|          DANILO|1991-07-15|     DANILO|Manchester City F...|   184|    78|
| Brazil|            2|      DF|    THIAGO SILVA|1984-09-22|   T. SILVA|Paris Saint-Germa...|   183|    79|
| Brazil|           12|      DF|         MARCELO|1988-05-12|    MARCELO|Real Madrid CF (ESP)|   174|    80|
| Brazil|            4|      DF|   PEDRO GEROMEL|1985-09-21|    GEROMEL|   Grêmio FBPA (BRA)|   190|    84|
+-------+-------------+--------+----------------+----------+-----------+--------------------+------+------+

# Feature Engineering

In [134]:
# feature engineering
# creating new columns due business coinstraints

# world cup year
df2 = df1.withColumn('world_cup', lit(2018))

# IMC
df2 = df2.withColumn('IMC', lit(df2['weight']/((df2['height']/100)*(df2['height']/100))))

#birth_year
df2 = df2.withColumn('birth_year', year(df2['birth_date']))
# df1 = df_student.withColumn('birth_month',month(df_student.birthday))

# birth month
df2 = df2.withColumn('birth_month', month(df2['birth_date']))

# day of year
df2 = df2.withColumn('day_year', dayofyear(df2['birth_date']))

# day of month
df2 = df2.withColumn('day_month', dayofmonth(df2['birth_date']))

# week of year
df2 = df2.withColumn('week_of_year',weekofyear(df2['birth_date']))

# age
df2 = df2.withColumn('age', floor(datediff(current_date(), 'birth_date'))/365.25)

In [135]:
df2.show(5)

+---------+-------------+--------+------------------+----------+-----------+--------------------+------+------+---------+------------------+----------+-----------+--------+---------+------------+------------------+
|     team|jersey_number|position|      players_name|birth_date|jersey_name|                club|height|weight|world_cup|               IMC|birth_year|birth_month|day_year|day_month|week_of_year|               age|
+---------+-------------+--------+------------------+----------+-----------+--------------------+------+------+---------+------------------+----------+-----------+--------+---------+------------+------------------+
|Argentina|            3|      DF|TAGLIAFICO Nicolas|1992-08-31| TAGLIAFICO|      AFC Ajax (NED)|   169|    65|     2018|22.758306781975424|      1992|          8|     244|       31|          36| 29.76865160848734|
|Argentina|           22|      MF|    PAVON Cristian|1996-01-21|      PAVÓN|CA Boca Juniors (...|   169|    65|     2018|22.758306781975424|      1996|          1|      21|       21|           3|26.379192334017795|
|Argentina|           15|      MF|    LANZINI Manuel|1993-02-15|    LANZINI|West Ham United F...|   167|    66|     2018| 23.66524436157625|      1993|          2|      46|       15|           7|29.308692676249144|
|Argentina|           18|      DF|    SALVIO Eduardo|1990-07-13|     SALVIO|    SL Benfica (POR)|   167|    69|     2018|24.740937287102444|      1990|          7|     194|       13|          28|31.904175222450377|
|Argentina|           10|      FW|      MESSI Lionel|1987-06-24|      MESSI|  FC Barcelona (ESP)|   170|    72|     2018|24.913494809688583|      1987|          6|     175|       24|          26| 34.95687885010267|
+---------+-------------+--------+------------------+----------+-----------+--------------------+------+------+---------+------------------+----------+-----------+--------+---------+------------+------------------+
only showing top 5 rows

In [ ]:
+---------+-------------+--------+------------------+----------+-----------+--------------------+------+------+---------+------------------+----------+-----------+--------+---------+------------+------------------+
|     team|jersey_number|position|      players_name|birth_date|jersey_name|                club|height|weight|world_cup|               IMC|birth_year|birth_month|day_year|day_month|week_of_year|               age|
+---------+-------------+--------+------------------+----------+-----------+--------------------+------+------+---------+------------------+----------+-----------+--------+---------+------------+------------------+
|Argentina|            3|      DF|TAGLIAFICO Nicolas|1992-08-31| TAGLIAFICO|      AFC Ajax (NED)|   169|    65|     2018|22.758306781975424|      1992|          8|     244|       31|          36| 29.76865160848734|
|Argentina|           22|      MF|    PAVON Cristian|1996-01-21|      PAVÓN|CA Boca Juniors (...|   169|    65|     2018|22.758306781975424|      1996|          1|      21|       21|           3|26.379192334017795|
|Argentina|           15|      MF|    LANZINI Manuel|1993-02-15|    LANZINI|West Ham United F...|   167|    66|     2018| 23.66524436157625|      1993|          2|      46|       15|           7|29.308692676249144|
|Argentina|           18|      DF|    SALVIO Eduardo|1990-07-13|     SALVIO|    SL Benfica (POR)|   167|    69|     2018|24.740937287102444|      1990|          7|     194|       13|          28|31.904175222450377|
|Argentina|           10|      FW|      MESSI Lionel|1987-06-24|      MESSI|  FC Barcelona (ESP)|   170|    72|     2018|24.913494809688583|      1987|          6|     175|       24|          26| 34.95687885010267|
+---------+-------------+--------+------------------+----------+-----------+--------------------+------+------+---------+------------------+----------+-----------+--------+---------+------------+------------------+

In [62]:
# create columns with condition (using function substring)
df.withColumn('sub', substring(df['team'], 1, 3)).show(5)

+---------+-------------+--------+------------------+----------+-----------+--------------------+------+------+---+
|     team|jersey_number|position|      players_name|birth_date|jersey_name|                club|height|weight|sub|
+---------+-------------+--------+------------------+----------+-----------+--------------------+------+------+---+
|Argentina|            3|      DF|TAGLIAFICO Nicolas|31.08.1992| TAGLIAFICO|      AFC Ajax (NED)|   169|    65|Arg|
|Argentina|           22|      MF|    PAVON Cristian|21.01.1996|      PAVÓN|CA Boca Juniors (...|   169|    65|Arg|
|Argentina|           15|      MF|    LANZINI Manuel|15.02.1993|    LANZINI|West Ham United F...|   167|    66|Arg|
|Argentina|           18|      DF|    SALVIO Eduardo|13.07.1990|     SALVIO|    SL Benfica (POR)|   167|    69|Arg|
|Argentina|           10|      FW|      MESSI Lionel|24.06.1987|      MESSI|  FC Barcelona (ESP)|   170|    72|Arg|
+---------+-------------+--------+------------------+----------+-----------+--------------------+------+------+---+
only showing top 5 rows

In [64]:
# creating columns with concat
df.withColumn('concat', concat(df['team'], df['jersey_name'])).show(3)

+---------+-------------+--------+------------------+----------+-----------+--------------------+------+------+-------------------+
|     team|jersey_number|position|      players_name|birth_date|jersey_name|                club|height|weight|             concat|
+---------+-------------+--------+------------------+----------+-----------+--------------------+------+------+-------------------+
|Argentina|            3|      DF|TAGLIAFICO Nicolas|31.08.1992| TAGLIAFICO|      AFC Ajax (NED)|   169|    65|ArgentinaTAGLIAFICO|
|Argentina|           22|      MF|    PAVON Cristian|21.01.1996|      PAVÓN|CA Boca Juniors (...|   169|    65|     ArgentinaPAVÓN|
|Argentina|           15|      MF|    LANZINI Manuel|15.02.1993|    LANZINI|West Ham United F...|   167|    66|   ArgentinaLANZINI|
+---------+-------------+--------+------------------+----------+-----------+--------------------+------+------+-------------------+
only showing top 3 rows

In [65]:
# creating columns with concat_ws (with separator)
df.withColumn('concat', concat_ws(' - ',df['team'], df['jersey_name'])).show(3)

+---------+-------------+--------+------------------+----------+-----------+--------------------+------+------+--------------------+
|     team|jersey_number|position|      players_name|birth_date|jersey_name|                club|height|weight|              concat|
+---------+-------------+--------+------------------+----------+-----------+--------------------+------+------+--------------------+
|Argentina|            3|      DF|TAGLIAFICO Nicolas|31.08.1992| TAGLIAFICO|      AFC Ajax (NED)|   169|    65|Argentina - TAGLI...|
|Argentina|           22|      MF|    PAVON Cristian|21.01.1996|      PAVÓN|CA Boca Juniors (...|   169|    65|   Argentina - PAVÓN|
|Argentina|           15|      MF|    LANZINI Manuel|15.02.1993|    LANZINI|West Ham United F...|   167|    66| Argentina - LANZINI|
+---------+-------------+--------+------------------+----------+-----------+--------------------+------+------+--------------------+
only showing top 3 rows

# Exploratory Data Analysis

- using SQL Window Functions for studying

## Window Ranking Functions

- Window Function 1 - Number of rows - row_number()
- Window Function 2 - Ranking 1 - rank()
- Window Function 3 - Ranking 2 - dense_rank()
- Window Function 4 - Percentage Ranking - percent_rank()
- Window Function 5 - 'N' parts partition - ntile()

In [142]:
df3 = df2

### row_number()

In [143]:
df3.columns

['team',
 'jersey_number',
 'position',
 'players_name',
 'birth_date',
 'jersey_name',
 'club',
 'height',
 'weight',
 'world_cup',
 'IMC',
 'birth_year',
 'birth_month',
 'day_year',
 'day_month',
 'week_of_year',
 'age']

In [93]:
row_count = Window.partitionBy(df3['team']).orderBy(desc('height'))

df3.withColumn('n', row_number().over(row_count)).select('team', 'height', 'n').show(25)

+-------+------+---+
|   team|height|  n|
+-------+------+---+
| Russia|   196|  1|
| Russia|   191|  2|
| Russia|   191|  3|
| Russia|   190|  4|
| Russia|   190|  5|
| Russia|   189|  6|
| Russia|   187|  7|
| Russia|   187|  8|
| Russia|   186|  9|
| Russia|   185| 10|
| Russia|   185| 11|
| Russia|   185| 12|
| Russia|   185| 13|
| Russia|   184| 14|
| Russia|   182| 15|
| Russia|   182| 16|
| Russia|   180| 17|
| Russia|   180| 18|
| Russia|   179| 19|
| Russia|   178| 20|
| Russia|   178| 21|
| Russia|   178| 22|
| Russia|   173| 23|
|Senegal|   196|  1|
|Senegal|   196|  2|
+-------+------+---+
only showing top 25 rows

In [95]:
row_number

### Ranking 1 - rank()

In [102]:
rank_row = Window.partitionBy('team').orderBy(desc('height'))

df3.withColumn('rank', rank().over(rank_row)).select('team','weight', 'height', 'rank').show(30)

+-------+------+------+----+
|   team|weight|height|rank|
+-------+------+------+----+
| Russia|    90|   196|   1|
| Russia|    79|   191|   2|
| Russia|    87|   191|   2|
| Russia|    81|   190|   4|
| Russia|    82|   190|   4|
| Russia|    80|   189|   6|
| Russia|    78|   187|   7|
| Russia|    79|   187|   7|
| Russia|    84|   186|   9|
| Russia|    77|   185|  10|
| Russia|    77|   185|  10|
| Russia|    79|   185|  10|
| Russia|    83|   185|  10|
| Russia|    80|   184|  14|
| Russia|    67|   182|  15|
| Russia|    74|   182|  15|
| Russia|    75|   180|  17|
| Russia|    76|   180|  17|
| Russia|    72|   179|  19|
| Russia|    70|   178|  20|
| Russia|    73|   178|  20|
| Russia|    74|   178|  20|
| Russia|    68|   173|  23|
|Senegal|    80|   196|   1|
|Senegal|    84|   196|   1|
|Senegal|    89|   195|   3|
|Senegal|    85|   192|   4|
|Senegal|    90|   192|   4|
|Senegal|    75|   189|   6|
|Senegal|    79|   189|   6|
+-------+------+------+----+
only showing top 30 rows

### Ranking 2 - dense_rank()

In [104]:
rank_row = Window.partitionBy('team').orderBy(desc('height'))

df3.withColumn('dense_rank', dense_rank().over(rank_row)).select('team', 'height', 'dense_rank').show(30)

+-------+------+----------+
|   team|height|dense_rank|
+-------+------+----------+
| Russia|   196|         1|
| Russia|   191|         2|
| Russia|   191|         2|
| Russia|   190|         3|
| Russia|   190|         3|
| Russia|   189|         4|
| Russia|   187|         5|
| Russia|   187|         5|
| Russia|   186|         6|
| Russia|   185|         7|
| Russia|   185|         7|
| Russia|   185|         7|
| Russia|   185|         7|
| Russia|   184|         8|
| Russia|   182|         9|
| Russia|   182|         9|
| Russia|   180|        10|
| Russia|   180|        10|
| Russia|   179|        11|
| Russia|   178|        12|
| Russia|   178|        12|
| Russia|   178|        12|
| Russia|   173|        13|
|Senegal|   196|         1|
|Senegal|   196|         1|
|Senegal|   195|         2|
|Senegal|   192|         3|
|Senegal|   192|         3|
|Senegal|   189|         4|
|Senegal|   189|         4|
+-------+------+----------+
only showing top 30 rows

### Percentage Ranking - percent_rank()

In [105]:
percent_row = Window.partitionBy('team').orderBy(desc('height'))

df3.withColumn('dense_rank', percent_rank().over(percent_row)).select('team', 'height', 'dense_rank').show(30)

+-------+------+--------------------+
|   team|height|          dense_rank|
+-------+------+--------------------+
| Russia|   196|                 0.0|
| Russia|   191|0.045454545454545456|
| Russia|   191|0.045454545454545456|
| Russia|   190| 0.13636363636363635|
| Russia|   190| 0.13636363636363635|
| Russia|   189| 0.22727272727272727|
| Russia|   187|  0.2727272727272727|
| Russia|   187|  0.2727272727272727|
| Russia|   186| 0.36363636363636365|
| Russia|   185|  0.4090909090909091|
| Russia|   185|  0.4090909090909091|
| Russia|   185|  0.4090909090909091|
| Russia|   185|  0.4090909090909091|
| Russia|   184|  0.5909090909090909|
| Russia|   182|  0.6363636363636364|
| Russia|   182|  0.6363636363636364|
| Russia|   180|  0.7272727272727273|
| Russia|   180|  0.7272727272727273|
| Russia|   179|  0.8181818181818182|
| Russia|   178|  0.8636363636363636|
| Russia|   178|  0.8636363636363636|
| Russia|   178|  0.8636363636363636|
| Russia|   173|                 1.0|
|Senegal|   196|                 0.0|
|Senegal|   196|                 0.0|
|Senegal|   195| 0.09090909090909091|
|Senegal|   192| 0.13636363636363635|
|Senegal|   192| 0.13636363636363635|
|Senegal|   189| 0.22727272727272727|
|Senegal|   189| 0.22727272727272727|
+-------+------+--------------------+
only showing top 30 rows

### 'N' parts partition - ntile()

In [110]:
part = Window.partitionBy('team').orderBy(desc('height'))

df3.withColumn('pair', ntile(5).over(part)).select('team', 'height', 'pair').show(30)

+-------+------+----+
|   team|height|pair|
+-------+------+----+
| Russia|   196|   1|
| Russia|   191|   1|
| Russia|   191|   1|
| Russia|   190|   1|
| Russia|   190|   1|
| Russia|   189|   2|
| Russia|   187|   2|
| Russia|   187|   2|
| Russia|   186|   2|
| Russia|   185|   2|
| Russia|   185|   3|
| Russia|   185|   3|
| Russia|   185|   3|
| Russia|   184|   3|
| Russia|   182|   3|
| Russia|   182|   4|
| Russia|   180|   4|
| Russia|   180|   4|
| Russia|   179|   4|
| Russia|   178|   5|
| Russia|   178|   5|
| Russia|   178|   5|
| Russia|   173|   5|
|Senegal|   196|   1|
|Senegal|   196|   1|
|Senegal|   195|   1|
|Senegal|   192|   1|
|Senegal|   192|   1|
|Senegal|   189|   2|
|Senegal|   189|   2|
+-------+------+----+
only showing top 30 rows

## Window Analytic Functions 

- Window Function 6 - Lead
- Window Function 7 - Lag

### Lead

In [115]:
step = Window.partitionBy('team').orderBy(desc('height'))

df3.withColumn('step', lag('height', 1).over(step)).select('team', 'height', 'step').show(30)

+-------+------+----+
|   team|height|step|
+-------+------+----+
| Russia|   196|null|
| Russia|   191| 196|
| Russia|   191| 191|
| Russia|   190| 191|
| Russia|   190| 190|
| Russia|   189| 190|
| Russia|   187| 189|
| Russia|   187| 187|
| Russia|   186| 187|
| Russia|   185| 186|
| Russia|   185| 185|
| Russia|   185| 185|
| Russia|   185| 185|
| Russia|   184| 185|
| Russia|   182| 184|
| Russia|   182| 182|
| Russia|   180| 182|
| Russia|   180| 180|
| Russia|   179| 180|
| Russia|   178| 179|
| Russia|   178| 178|
| Russia|   178| 178|
| Russia|   173| 178|
|Senegal|   196|null|
|Senegal|   196| 196|
|Senegal|   195| 196|
|Senegal|   192| 195|
|Senegal|   192| 192|
|Senegal|   189| 192|
|Senegal|   189| 189|
+-------+------+----+
only showing top 30 rows

### Lag

In [116]:
step = Window.partitionBy('team').orderBy(desc('height'))

df3.withColumn('step', lead('height', 1).over(step)).select('team', 'height', 'step').show(30)

+-------+------+----+
|   team|height|step|
+-------+------+----+
| Russia|   196| 191|
| Russia|   191| 191|
| Russia|   191| 190|
| Russia|   190| 190|
| Russia|   190| 189|
| Russia|   189| 187|
| Russia|   187| 187|
| Russia|   187| 186|
| Russia|   186| 185|
| Russia|   185| 185|
| Russia|   185| 185|
| Russia|   185| 185|
| Russia|   185| 184|
| Russia|   184| 182|
| Russia|   182| 182|
| Russia|   182| 180|
| Russia|   180| 180|
| Russia|   180| 179|
| Russia|   179| 178|
| Russia|   178| 178|
| Russia|   178| 178|
| Russia|   178| 173|
| Russia|   173|null|
|Senegal|   196| 196|
|Senegal|   196| 195|
|Senegal|   195| 192|
|Senegal|   192| 192|
|Senegal|   192| 189|
|Senegal|   189| 189|
|Senegal|   189| 186|
+-------+------+----+
only showing top 30 rows

## Aggregations

- groupBy
- where
- filter
- Window Function 8 - with groupby

In [125]:
df3.groupby('team').agg({'height':'avg'}).alias('height_avg').show()

+--------------+------------------+
|          team|       avg(height)|
+--------------+------------------+
|        Russia| 184.3913043478261|
|       Senegal|183.65217391304347|
|        Sweden| 185.7391304347826|
|       IR Iran|184.47826086956522|
|       Germany| 185.7826086956522|
|        France|183.30434782608697|
|     Argentina|178.43478260869566|
|       Belgium|185.34782608695653|
|          Peru| 177.6086956521739|
|       Croatia| 185.2608695652174|
|       Nigeria|184.52173913043478|
|Korea Republic| 181.8695652173913|
|         Spain|179.91304347826087|
|       Denmark| 186.6086956521739|
|       Morocco|182.69565217391303|
|        Panama|182.17391304347825|
|       Iceland|185.52173913043478|
|       Uruguay|181.04347826086956|
|        Mexico| 179.7826086956522|
|       Tunisia|183.08695652173913|
+--------------+------------------+
only showing top 20 rows

In [123]:
df3.groupBy('team').agg(avg('height').alias('height_avg')).show()

+--------------+------------------+
|          team|        height_avg|
+--------------+------------------+
|        Russia| 184.3913043478261|
|       Senegal|183.65217391304347|
|        Sweden| 185.7391304347826|
|       IR Iran|184.47826086956522|
|       Germany| 185.7826086956522|
|        France|183.30434782608697|
|     Argentina|178.43478260869566|
|       Belgium|185.34782608695653|
|          Peru| 177.6086956521739|
|       Croatia| 185.2608695652174|
|       Nigeria|184.52173913043478|
|Korea Republic| 181.8695652173913|
|         Spain|179.91304347826087|
|       Denmark| 186.6086956521739|
|       Morocco|182.69565217391303|
|        Panama|182.17391304347825|
|       Iceland|185.52173913043478|
|       Uruguay|181.04347826086956|
|        Mexico| 179.7826086956522|
|       Tunisia|183.08695652173913|
+--------------+------------------+
only showing top 20 rows

In [145]:
df3.groupBy('team').agg(count('players_name').alias('number_players'),\
                        countDistinct('club').alias('distinct_clubs'),\
                        avg('height').alias('avg_height'),\
                        avg('weight').alias('avg_weight'),
                        avg('age').alias('avg_age')\
                        )\
                        .orderBy(desc('avg_age')).show()

+--------------+--------------+--------------+------------------+-----------------+------------------+
|          team|number_players|distinct_clubs|        avg_height|       avg_weight|           avg_age|
+--------------+--------------+--------------+------------------+-----------------+------------------+
|    Costa Rica|            23|            19|180.69565217391303| 74.1304347826087|  33.5406957712109|
|        Mexico|            23|            17| 179.7826086956522|74.08695652173913|33.346308365324525|
|        Panama|            23|            20|182.17391304347825|             80.0| 33.24691247805256|
|     Argentina|            23|            19|178.43478260869566|75.56521739130434|33.200607088652795|
|         Egypt|            23|            16|             181.0|78.43478260869566| 32.96455673600572|
|        Russia|            23|            10| 184.3913043478261| 77.6086956521739| 32.82183138410261|
|  Saudi Arabia|            23|             7|177.65217391304347|73.04347826086956| 32.71374579650627|
|        Brazil|            23|            14| 180.7826086956522|76.56521739130434| 32.58780466029819|
|       Iceland|            23|            21|185.52173913043478|80.73913043478261|32.566735112936335|
|         Japan|            23|            20| 178.7826086956522|71.52173913043478|32.563521114186244|
|         Spain|            23|            13|179.91304347826087|74.73913043478261| 32.47162455733119|
|      Portugal|            23|            19| 179.7391304347826| 73.6086956521739| 32.34949260482694|
|        Poland|            23|            19|183.17391304347825|76.47826086956522|32.294616552093565|
|        Sweden|            23|            19| 185.7391304347826|78.82608695652173| 32.22033746986876|
|     Australia|            23|            22| 180.8695652173913|77.73913043478261|32.117965657828165|
|       Uruguay|            23|            19|181.04347826086956| 74.6086956521739| 32.11475165907807|
|      Colombia|            23|            21| 180.7826086956522|76.17391304347827| 32.04797190727018|
|       Croatia|            23|            21| 185.2608695652174|79.30434782608695|31.886795821801623|
|Korea Republic|            23|            19| 181.8695652173913|74.43478260869566| 31.76930631193643|
|       Belgium|            23|            18|185.34782608695653|79.56521739130434|31.568967056512808|
+--------------+--------------+--------------+------------------+-----------------+------------------+
only showing top 20 rows